<html ng-app="fretboardApp">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .full {width: 100%; height: 90%;}
    </style>
    <script src="modules/MIDI.js/js/MIDI/AudioDetect.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/MIDI/LoadPlugin.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/MIDI/Plugin.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/MIDI/Player.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/Color/SpaceW3.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/MusicTheory/Synesthesia.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/Window/DOMLoader.XMLHttp.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/js/Window/DOMLoader.script.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/inc/Base64.js" type="text/javascript"></script>
    <script src="modules/MIDI.js/inc/base64binary.js" type="text/javascript"></script>
    <script src="modules/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="fretboard-prototype.js"></script>
  </head>
  <body>
    <div ng-controller="FretboardChanger">
      <select
        ng-change="instrument_change()"
        ng-model="instrument"
        ng-options="value as key for (key, value) in instruments"
      >
      </select>
      Limit Notes:
      <input type="checkbox"
        ng-model="limit_notes"
        ng-change="limit_notes_change()">
      <textarea ng-model="comma_song" ng-keyup="comma_song_keyup()"></textarea>
      Tempo ({{ tempo }}):
      <input ng-model="tempo" ng-change="tempo_change()" type="range" min="20" max="180">
      <!-- If we are going to toggle this, need to provide for start/stop/pause/etc -->
      <!--
      Loop:
      <input type="checkbox"
        ng-model="loop"
        ng-change="loop_change()">
      -->
    </div>
    <canvas id="fretboard" class="full">
  </body>
</html>